<!doctype html>
<html lang="nl">
<!-- Loginpagina voor gebruikers -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">

<h1>Login</h1>

<!-- Formulier voor gebruikersnaam en wachtwoord -->
<form method="post" class="form-card">
    <input name="username" placeholder="username"><br><br>
    <input type="password" name="password"><br><br>
    <button>Login</button>
</form>

<br>
<a href="/register">register</a>

</div>
</body>
</html>