<h1>Mijn prestaties</h1>

<table border="1">
<tr>
    <th>Naam</th>
    <th>Discipline</th>
    <th>Resultaat (vb: 02"30'10)</th>
    <th>Datum</th>
    <th>Actie</th>
</tr>

{% for p in performances %}
<tr>
    <td>{{ p.name }}</td>
    <td>{{ p.discipline }}</td>
    <td>{{ p.result }}</td>
    <td>{{ p.date }}</td>
    <td>
        <form action="/delete" method="post">
            <input type="hidden" name="id" value="{{ p.id }}">
            <button type="submit">Delete</button>
        </form>
    </td>
</tr>
{% endfor %}

</table>

<br>
<a href="/">Terug</a>